// COLORS
$primary-color: #051b49;
$secondary-color: #00ffeee5;

$white-color: #ffffff;

$dark-grey: #000000;
$light-grey: #d2d2d2;

$dark-blue-text: #00bbff; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
