// COLORS
$primary-color: #071636;
$secondary-color: #083d68ad;

$white-color: #ffffff;

$dark-grey: #000000;
$light-grey: #d2d2d2;

$dark-blue-text: #0e4263; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
